Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask==3.0.3
Jinja2==3.1.3
marshmallow-sqlalchemy==1.0.0
passlib==1.7.4
pika==1.3.2
python-engineio==4.9.0
python-socketio==5.11.2
requests==2.31.0
