{% extends "layouts/logged_in.html" %}
{% block title %}Chat Rooms{% endblock %}

{% block content_title %}Create Chat Room{% endblock %}

{% block content_body %}
<div>
    <form method="POST" action="{{ url_for('main.create_chatroom') }}">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                {{ form.name.label }}
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline {{ 'border-red-500 mb-3' if form.name.errors else '' }}"
                id="name" name="name" type="text" placeholder="Chatroom name"
                value="{{ form.name.data if form.name.data != None }}">

            {% for error in form.name.errors %}<p class="text-red-500 text-xs italic">{{ error }}</p>{% endfor %}
        </div>

        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Submit
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                href="{{ url_for('main.list_chatrooms') }}">
                Back to chatrooms list
            </a>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock %}
